<link rel="stylesheet" href="/CSS/userSignIn.css">

<div id="sign-in-form">
    <h1>Sign In</h1>
    <form action="/users/create-session" method="post">
        <div>
            <input type="text" name="email" placeholder="Email">
        </div>
        <div>
            <input type="text" name="password" placeholder="Password">
        </div>
        <div>
            <button type="submit">Sign In</button>
        </div>
    </form>
</div>

<p>
    <a href="/users/auth/google">Google Sign-in/Sign-up</a>
</p>