<link rel="stylesheet" href="/CSS/userSignIn.css">
<h1>Sign Up</h1>
<div>
    <form action="/users/create" method="post">
        <div>
            <input type="text" name="email" placeholder="Email">
        </div>
        <div>
            <input type="text" name="password" placeholder="Password">
        </div>
        <div>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>